/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

table, th, td {
  white-space: nowrap;
}

.charts-layout {
  display: grid;
  grid-template-columns: repeat(6, 1fr); 
  grid-template-rows: repeat(3, auto);
  gap: 16px;
}

.top5-badge {
  font-size: 14px;
}

.devices {
  grid-column: 1/4;
}
.clicks {
  grid-column: 4/7;
}
.browsers {
  grid-column: 1/3;
}
.os {
  grid-column: 3/5;
}
.referers {
  grid-column: 5/7;
}
.cities {
  grid-column: 2/6;
}
